<!doctype html>
<html>
<head>
  <meta charset="utf8" />
  <!-- everything here will be ignored and replaced by common-layout -->
</head>
<body data-lift-content-id="plugin-main">
  <div id="plugin-main" data-lift="surround?with=common-layout;at=content">
    <head_merge>
      <title>TODO</title>
      <link rel="stylesheet" type="text/css" href="/toserve/packagescan/package-scan.css" media="screen" data-lift="with-cached-resource">
    </head_merge>
    <div class="portlet ui-widget ui-widget-content ui-helper-clearfix arrondis">
      <div class="inner-portlet">
        <div class="page-title">Package Vulnerability Scanner</div>
        <div class="portlet-content">
          <div class="col-xs-12 callout-fade callout-warning">
            <div class="marker">
              <span class="glyphicon glyphicon-info-sign"></span>
            </div>
            <p>
              This plugin allows to see for each node the list of vulnerable packages.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

